<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cg.nic.bilaspur.covidenquiry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidEnquiry">
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".Activity.SolveScreen"
            android:exported="false" />
        <activity
            android:name=".Activity.ResolveScreen"
            android:exported="true" />
        <activity
            android:name=".Activity.CovidEntry"
            android:exported="true" />
        <activity
            android:name=".Activity.LoginScreen"
            android:exported="true" />
        <activity
            android:name=".Admin.ForwardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>